# python
__pycache__
.ipynb_*
LD_250.npy

# cython
*.so

# django
*.db

# java
*.class

# C
a.out
*.bat
*.o

# tensorflow
*.index
*.meta
*.data-00000-of-00001
checkpoint
*pbtxt
*tfevent*

# rust
*.exe
*.pdb

# emacs
*~
*.dat

# idea IDE
.idea

*.stackdump
*.log


# hdf5
*.h5

# vscode 
.vscode


# data
ml-100k
MNIST_data
face_model.xml
housing.csv
AirQualityUCI.csv
test_data.txt
train_data.txt
LD2011_2014.txt
alice_in_wonderland.txt

# log
metastore_db
derby.log
log.txt

# commons
build
_build
target

# other
temp
books/masteringPython/cp09/*.html
text8.zip
.cache
.coverage
htmlcov
*.lprof
*.mp4
*.lnk
temp.jpg