__pycache__
ml-100k
metastore_db
derby.log
*.class
a.out
MNIST_data
*.bat
log.txt
*.index
*.meta
*.data-00000-of-00001
target
*.exe
*.pdb
checkpoint
*~
*.dat
*.o
*.db
.idea
.ipynb_*

*.stackdump

log

*pbtxt

*tfevent*

data