<html>
    <form action="/facesystem/register" method="post" accept-charset="utf-8"
        enctype="multipart/form-data">

        <label for="image">Image File</label>
        <input id="image" name="image" type="file" value=""/>
        <br/>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value=""/>
        <label for="title">Title</label>
        <input id="title" name="title" type="text" value=""/>
        <label for="qq">QQ</label>
        <input id="qq" name="qq" type="text" value=""/>
        <br/>
        <input type="submit" value="submit"/>
    </form>
</html>
